# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
*.swp

# OS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Temporary files
tmp/
_unsloth_sentencepiece_temp/

#output
model/
wandb/
unsloth_compiled_cache/
.hf_cache/

# Large model files
*.gguf
*.safetensors
*.bin
*.pt



# (Option) Data files - uncomment if you don't want to push large training data
# *.xlsm
# *.jsonl
# data/
